.homepage{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 20px;
    background-color: #0f8b2a;
    display: flex;
    flex-direction: row;
    
    
    .home-text{
        margin-top: 0px;
        margin-bottom: 0px;
        color: rgb(255, 255, 255);
        .home-header{
            
        }

        .home-main{
            text-align: justify;
            word-spacing: -0.1em;
        }
    }

    .home-link{
        color: #15ff00;
        text-decoration: none;
    }
    .home-mail{
        color: #15ff00;
        text-decoration: none;
    }
}

