.footer {
    background-color: #0b4214;
    color: #fff;
    padding: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 17rem;
  
    .footer-links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 1rem;
  
      a {
        color: #fff;
        text-decoration: none;
        margin: 0.5rem;
        transition: all 0.3s ease-in-out;
  
        &:hover {
          color: #12d400d8;
        }
      }
    }
  
.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  
  
  
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #12d40088;
    transition: all 0.2s ease-in-out;
    
    &:hover {
      transform: scale(1.1);
    }
    
    svg {
      color: #fff;
      font-size: 20px;
    }
  }
}
  
    .footer-text {
      width: 100%;
      text-align: center;
      margin-top: 1rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: center;
      padding: 2rem 1rem;
      height: 11rem;
  
      .footer-links {
        overflow-x: auto;
        white-space: nowrap;
  
        a {
          margin: 0 0.5rem;
        }
      }
    }
  }
  