$arrow-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);

.slider{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    .image{
        width: 950px;
        height: 600px;
        border-radius: 10px;
        object-fit: contain;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.726);
        background-color: rgba(0, 0, 0, 0.774);
        
    }
}

.right-arrow{
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow{
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide{
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}



//for nest hub
@media only screen and (max-width: 1080px) {
    .slider{
        height: 110vh;
        .image{
            width: 750px;
            height: 520px;            
        }
    } 
    .right-arrow{
        top: 50%;
        right: 2%;
    }
    
    .left-arrow{
        top: 50%;
        left: 2%;
        
    }
}

//for galaxy s20 ultra side wise
@media only screen and (max-width: 915px) {
    .slider{
        height: 125vh;
        .image{
            width: 650px;
            height: 355px;            
        }
    } 
    .right-arrow{
        top: 46%;
        right: 2%;
    }
    
    .left-arrow{
        top: 46%;
        left: 2%;
        
    }
}

//for galaxy side wise
@media only screen and (max-width: 914px) {
    .slider{
        height: 125vh;
        .image{
            width: 650px;
            height: 355px;            
        }
    } 
    .right-arrow{
        top: 46%;
        right: 2%;
    }
    
    .left-arrow{
        top: 46%;
        left: 2%;
        
    }
}

//for surface pro 7
@media only screen and (max-width: 912px) {
    .slider{
        height: 98vh;
        .image{
            width: 800px;
            height: 900px;            
        }
    } 
    .right-arrow{
        top: 90%;
        right: 42%;
    }
    
    .left-arrow{
        top: 90%;
        left: 42%;
        
    }
}

//for iphone xr sidewise
@media only screen and (max-width: 896px) {
    .slider{
        height: 98vh;
        .image{
            width: 600px;
            height: 300px;            
        }
    } 
    .right-arrow{
        top: 44%;
        right: 2%;
    }
    
    .left-arrow{
        top: 44%;
        left: 2%;
        
    }
}

//for pixel 5 sidewise
@media only screen and (max-width: 851px) {
    .slider{
        height: 98vh;
        .image{
            width: 600px;
            height: 300px;            
        }
    } 
    .right-arrow{
        top: 44%;
        right: 2%;
    }
    
    .left-arrow{
        top: 44%;
        left: 2%;
        
    }
}

//for i pad air
@media only screen and (max-width: 820px) {
    .slider{
        height: 88vh;
        .image{
            width: 700px;
            height: 710px;            
        }
    } 
    .right-arrow{
        top: 90%;
        right: 42%;
    }
    
    .left-arrow{
        top: 90%;
        left: 42%;
        
    }
}

//for i pad mini
@media only screen and (max-width: 768px) {
    .slider{
        height: 95vh;
        .image{
            width: 650px;
            height: 680px;            
        }
    } 
    .right-arrow{
        top: 90%;
        right: 40%;
    }
    
    .left-arrow{
        top: 90%;
        left: 40%;
        
    }
}

//for i pad mini
@media only screen and (max-width: 740px) {
    .slider{
        height: 95vh;
        .image{
            width: 430px;
            height: 290px;            
        }
    } 
    .right-arrow{
        top: 40%;
        right: 4%;
    }
    
    .left-arrow{
        top: 40%;
        left: 4%;
        
    }
}

//for surface duo side wise
@media only screen and (max-width: 720px) {
    .slider{
        height: 95vh;
        .image{
            width: 630px;
            height: 370px;            
        }
    } 
    .right-arrow{
        top: 90%;
        right: 40%;
    }
    
    .left-arrow{
        top: 90%;
        left: 40%;
        
    }
}

//for iphone se side wise
@media only screen and (max-width: 667px) {
    .slider{
        height: 95vh;
        .image{
            width: 480px;
            height: 240px;            
        }
    } 
    .right-arrow{
        top: 46%;
        right: 0.1%;
    }
    
    .left-arrow{
        top: 46%;
        left: 0.1%;
        
    }
}

//for galaxy fold side wise
@media only screen and (max-width: 653px) {
    .slider{
        height: 95vh;
        .image{
            width: 480px;
            height: 240px;            
        }
    } 
    .right-arrow{
        top: 46%;
        right: 0.1%;
    }
    
    .left-arrow{
        top: 46%;
        left: 0.1%;
        
    }
}

//for surface duo
@media only screen and (max-width: 540px) {
    .slider{
        height: 79vh;
        .image{
            width: 450px;
            height: 400px;            
        }
    } 
    .right-arrow{
        top: 90%;
        right: 38%;
    }
    
    .left-arrow{
        top: 90%;
        left: 38%;
        
    }
}

//for iphone xr
@media only screen and (max-width: 414px) {
    .slider{
        height: 90vh;
        .image{
            width: 350px;
            height: 576px;            
        }
    } 
    .right-arrow{
        top: 90%;
        right: 32%;
    }
    
    .left-arrow{
        top: 90%;
        left: 32%;
        
    }
}

//for galaxy a51
@media only screen and (max-width: 412px) {
    .slider{
        height: 70vh;
        .image{
            width: 350px;
            height: 460px;            
        }
    } 
    .right-arrow{
        top: 90%;
        right: 140px;
    }
    
    .left-arrow{
        top: 90%;
        left: 140px;
        
    }
}

//for pixel 5
@media only screen and (max-width: 393px) {
    .slider{
        height: 90vh;
        .image{
            width: 327px;
            height: 550px;            
        }
    } 
    .right-arrow{
        top: 90%;
        right: 35%;
    }
    
    .left-arrow{
        top: 90%;
        left: 35%;
        
    }
}

//for iphone 12 pro
@media only screen and (max-width: 390px) {
    .slider{
        height: 95vh;
        .image{
            width: 327px;
            height: 580px;            
        }
    } 
    .right-arrow{
        top: 90%;
        right: 32%;
    }
    
    .left-arrow{
        top: 90%;
        left: 32%;
        
    }
}

//for iphone se
@media only screen and (max-width: 375px) {
    .slider{
        height: 95vh;
        .image{
            width: 300px;
            height: 450px;            
        }
    } 
    .right-arrow{
        top: 90%;
        right: 31%;
    }
    
    .left-arrow{
        top: 90%;
        left: 31%;
        
    }
}

//for galaxy s8+
@media only screen and (max-width: 360px) {
    .slider{
        height: 85vh;
        .image{
            width: 300px;
            height: 450px;            
        }
    } 
    .right-arrow{
        top: 90%;
        right: 31%;
    }
    
    .left-arrow{
        top: 90%;
        left: 31%;
        
    }
}

//for galaxy fold
@media only screen and (max-width: 280px) {
    .slider{
        height: 75vh;
        .image{
            width: 220px;
            height: 350px;            
        }
    } 
    .right-arrow{
        top: 90%;
        right: 30%;
    }
    
    .left-arrow{
        top: 90%;
        left: 30%;
        
    }
}


