.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background-image: radial-gradient(circle, #00be63, #00af5e, #00a159, #009253, #00844d, #017846, #016d40, #026239, #025730, #024b28, #014120, #003619);
}


